<p>Question: <%= @question.body %></p>

<form action="/tests/<%= params[:test_id] %>/questions/<%= params[:id] %>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>