<nav class="navbar navbar-dark bg-primary">
  <%= link_to "TestGuru", root_path, class: "navbar-brand fs-4 mx-4" %>

  <span class="navbar-text">
    <%= t('.welcome') %><%= current_user.email %>

    <button type="button" class="btn btn-primary">
      <%= link_to t('.log_out'), destroy_user_session_path,
                                 method: :delete,
                                 class: "nav-link active" %>
    </button>
  </span>
</nav>
