<div class="container">
  <% if @badges.any? %>
    <table class="table mt-5">
      <thead class="table-dark text-center">
        <tr>
          <td colspan="2">All badges</td>
        </tr>
      </thead>

      <tbody>
        <%= render @badges %>
      </tbody>
    </table>

    <div class="text-center">
      <%= link_to "Show my badges", user_badges_path, class: "btn btn-light btn-outline-dark mt-2 mb-5" %>
    </div>
  <% end %>
</div>
