<div class="container-fluid text-center mt-5">
  <h1><%= results_header(@test_passage) %></h1>

  <h3>
    <%= test_results(@test_passage) %>
  </h3>

  <%= link_to t('.to_tests'), tests_path, class: "btn btn-dark" %>
</div>
