<div>
  <br>
  <p>
    <%= "Год: #{Time.current.year}" %> |
    Автор: Булат Хайрутдинов |
    <%= link_to "GitHub", "https://github.com/beast8357/test-guru" %>
  </p>
  <p>
    Данный проект предоставляет возможность проходить тесты по различным темам
  </p>
  <p>
    <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com/", target: :blank %>
  </p>
</div>