<div>
  <br>
  <p>
    <%= current_year %> |
    Автор: Булат Хайрутдинов |
    <%= github_url('beast8357', 'test-guru') %>
  </p>
  <p>
    Данный проект предоставляет возможность проходить тесты по различным темам
  </p>
  <p>
    <%= school_url %>
  </p>
</div>