<span class="nav-item dropdown">
  <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <%= t('.select') %>
  </button>

  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button">
      <%= link_to t('.en'), select_language(:en), class: "nav-link active" %>
    </button></li>

    <li><button class="dropdown-item" type="button">
      <%= link_to t('.ru'), select_language(:ru), class: "nav-link active" %>
    </button></li>
  </ul>
</span>
