<table>
	<tr>
		<th>Questions</th>
		<th>Actions</th>
	</tr>

	<% @test_questions.each.with_index(1) do |body, index| %>
		<tr>
			<td><%= "#{index}. #{body}" %></td>
			<td>
				<%= render partial: 'shared/test_question_deleter',
									 locals: { test: @test, question: Question.find_by_body(body) } %>
			</td>
		</tr>
	<% end %>
</table>

<p>
	<%= link_to 'New question', new_test_question_path(@test) %> |
	<%= link_to 'Back', tests_path(@test) %>
</p>