<li>
	<%= answer.body %><br>
	<%= link_to 'Show', test_question_answer_path(@test, @question, answer) %> |
	<%= link_to 'Edit', edit_test_question_answer_path(@test, @question, answer) %> |
	<%= link_to 'Delete',
							test_question_answer_path(@test, @question, answer),
							method: :delete,
							data:   { confirm: 'Are you sure you want to delete this answer?' } %>
</li>
