<tr>
  <td><%= answer.body %></td>
  <td><%= link_to t('.show'), admin_test_question_answer_path(current_test, @question, answer) %></td>
  <td><%= link_to t('.edit'), edit_admin_test_question_answer_path(current_test, @question, answer) %></td>
  <td><%= link_to t('.delete'),
              admin_test_question_answer_path(current_test, @question, answer),
              method: :delete,
              data:   { confirm: 'Are you sure?' } %>
  </td>
</tr>
